extends /organisation_layout
include /helper

block content
  .area.corona-hint
    p.big Die Praxis ist trotz der aktuellen Ereignisse in Bezug auf die Coronakrise  geöffnet.

    p.
      Grund dafür ist, dass ich Ihnen auch in diesen schwierigen Zeiten meine Unterstützung anbieten möchte.
      Unsere Gesundheit hat dabei oberste Priorität, daher habe ich einige Maßnahmen getroffen um uns zu schützen:

    p.
      Meine Räumlichkeiten sind großzügig und luftig bemessen und bieten genügend
      Freifläche um einen Mindestabstand von 2,5 Metern zu Ihnen gewährleisten.

    p Auch bei der Begrüßung und der Verabschiedung wird dieser Abstand gewahrt werden.

    p.
      Bisher waren es meine Klient*innen gewöhnt, dass ich während der Sitzungen Getränke anbiete. Leider ist dies aufgrund der momentanen Lage nicht möglich.
      Alle Türgriffe und Kontaktflächen werden vor Ihrem Besuch desinfiziert und selbstverständlich haben Sie die Möglichkeit, zu Beginn der Sitzungen, sich die Hände zu waschen und zu desinfizieren.

    p
      em Außerdem besteht die Möglichkeit, dass wir unsere therapeutischen Sitzungen telefonisch, per FaceTime, Videoanruf mit What´s App oder Skype durchführen.

    p Ich würde mich freuen, wenn wir uns über den einen oder anderen Weg, sei es persönlich oder virtuell, kennenlernen würden.

    p Ich wünschen Ihnen alles Gute und bleiben Sie gesund!

    p Andreas Niehues

  .area
    include:markdown-it landing-page/org_intro.md

  +teaser-list(['couples', 'single', 'family'])
